body {
  font-family: 'Poppins', sans-serif;
}

.pageTitle {
  font-weight: 600;
  font-size: 35px;
}

/*
/////////////////////
OVERVIEW
/////////////////////
*/


#overview {
  border: 1px solid rgba(0, 0, 0, .4);
  height: 750px;
}

.productInfo {
  /* position: relative;
  left: 800px;
  display: inline-block; */
  border: 1px solid rgba(0, 0, 0, .4);
  height: 150px;
  width: 400px;
  overflow: hidden;
}

.styleSelector {
  /* position: relative;
  top: -330px;
  left: 800px;
  display: inline-block; */
  border: 1px solid rgba(0, 0, 0, .4);
  height: 150px;
  width: 400px;
}

.imageGallery {
  /* position: relative;
  right: 400px;
  display: inline-block; */
  border: 1px solid rgba(0, 0, 0, .4);
  height: 200px;
  width: 400px;
}


.addToCart {
  /* position: relative;
  left: 400px;
  top: -160px;
  display: inline-block; */
  border: 1px solid rgba(0, 0, 0, .4);
  height: 150px;
  width: 400px;
}

#zoomView {
  display: none;
}


/*
Star Ratings - Overview
*/

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: black;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}

/*
Style Item - Overview
*/

.styleItem {

  display: inline-block;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 35px;
  width: 70px;
  height: 70px;
  text-align: center;
  margin: 20px 0 0 20px;
  line-height: 50px;

}

.selectedStyle {

  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 35px;
  width: 70px;
  height: 70px;
  text-align: center;
  margin: 20px 0 0 20px;
  line-height: 50px;

}

.styleSelector {
  overflow: scroll;
}

.styleSelector::-webkit-scrollbar {
  display: none;
}

.scrollBox {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
}

.title {
  display: inline-block;
  position: absolute;
  left: 0px;
  font-size: 10px;
}

.checkmark {
  display: inline-block;
  position: absolute;
  top: 71px;
  left: 85px;
}

.styleContainer {
  position: relative;
}

/*
Image Gallery - Overview
*/

.imageGallery {
  text-align: center;
}


.thumbnailGallery {
  z-index: 2;
  position: relative;
  bottom: 80px;
  width: 30px;
  height: 80px;
  overflow: auto;
  margin-top: 0px;
  margin-left: 10px;
}

.thumbnailGallery::-webkit-scrollbar {
  display: none;
}

.thumbnailItem {
  width: 25px;
  height: 25px;
  margin-top: 5px;
  border: 1px solid rgba(0, 0, 0, .3);
  font-size: 10px;
}

.thumbnailItem:hover {
  cursor: pointer;
}

.thumbnailScroll {
  display: flex;
  width: 31px;
  flex-wrap: wrap;
}

.mainImage {
  display: inline-block;
  text-align: center;
  height: 300px;
}

.mainImage:hover {
  cursor: zoom-in;
}

.mainFrame {
  position: relative;
  right: 35px;
  display: inline-block;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.imageInsert {
  display: inline-block;
  position: relative;

}

.down_angle {
  z-index: 2;
  position: relative;
  bottom: 80px;
  width: 15px;
  height: auto;
  visibility: visible;
  margin-left: 10px;
  margin-top: -25px;
}

.up_angle {
  z-index: 2;
  position: relative;
  bottom: 80px;
  width: 15px;
  height: auto;
  visibility: hidden;
  margin-left: 10px;
  margin-top: -25px;
}

.left_angle {
  z-index: 2;
  width: 15px;
  height: auto;
  position: relative;
  left: 10px;
  bottom: 90px;
  visibility: hidden;
}

.left_angle:hover {
  cursor: pointer;
}

.right_angle:hover {
  cursor: pointer;
}

.right_angle {
  width: 15px;
  height: auto;
  position: relative;
  left: 235px;
  bottom: 90px;
  visibility: visible;
}

/*
Expanded View, Image Gallery - Overview
*/

.invisibleIndex {
  display: none;
}

#zoomView {
  z-index: 2;
  display: none;
  position: relative;
  left: 150px;
  bottom: 75px;
}

#zoomedImage {
  transform: scale(1);
  cursor: zoom-in;
}

.scrollDot {
  display: inline-block;
  margin-left: 10px;
}

.scrollDot:hover {
  cursor: pointer;
}

#xOutZoom {
  z-index: 2;
  display: inline-block;
  position: relative;
  left: 200px;
  bottom: 300px;
  font-family: arial;
  color:rgba(0, 0, 0, .5);
}

#xOutZoom:hover {
  cursor: pointer;
}


/*
/////////////////////
RELATED ITEMS
/////////////////////
*/

.card {
  width: 200px;
  height: 250px;
  background: rgb(146, 142, 142);
  border: 1px solid black;
  text-align: center;
}

.carousel {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}


.rightArrow {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid black;
}

.leftArrow {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid black;
}

.centerVertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comparisonModal {
  width: 500px;
  background: white;
  border: 1px solid grey;
  transition: 1s ease-out;
  box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

/*
/////////////////////
QUESTIONS AND ANSWERS
/////////////////////
*/

#search {
  height: 50px;
  width: 400px;
}

.questionItem {
  border: 1px solid rgba(0, 0, 0, .4);
}






/*
/////////////////////
RATINGS AND REVIEWS
/////////////////////
*/