

body {
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  background-color: rgba(0, 0, 0, .05);
  min-width: 920px;
  max-width: 1200px;
}

/*
////////////////////
topbar
////////////////////
*/

.topBar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 77px;
  width: 100%;
  background-color: rgba(0, 0, 0, .7);
}

.pageTitle {
  display: inline-block;
  font-weight: 600;
  font-size: 35px;
  color: rgba(250, 250, 250, .9);
  margin-top: 10px;
  margin-left: 20px;
}

.search {
  margin: 6px 10px 0 0;
  display: inline-block;
}

input, textarea {
  color:rgba(250, 250, 250, .9);
}

input, textarea:focus {
  outline: none;
}

.searchInput {
  background-color: rgba(0, 0, 0, .0);
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, .0);
}

.searchIcon {
  cursor: pointer;
  display: inline-block;
  height: 22px;
  width: auto;
  margin: 22px 15px 0 0;
  color:rgba(250, 250, 250, .9);
}

.searchFieldUnderline {
  height: 2px;
  width: 150px;
  background-color: rgba(250, 250, 250, .9);
}

/*
/////////////////////
SITE ANNOUNCEMENT
/////////////////////
*/

.siteAnnouncementBar {
  height: 44px;
  width: 100%;
  font-size: 12px;
  color:rgba(0, 0, 0, .6)
}

.announcement {
  display: inline-block;
  margin: 10px 0 0 100px;
}

/*
/////////////////////
OVERVIEW
/////////////////////
*/


#overview {
  /* border: 1px solid rgba(0, 0, 0, .4); */
  height: 750px;
}

.leftPanel {
  float: left;
  width: 66.6%;
  height: 80%;

}

.rightPanel {
  display: inline-block;
  height: 100%;
  width: 33.3%;
}

.productInfo {
  display: inline-block;
  /* border: 1px solid rgba(0, 0, 0, .4); */
  height: 27%;
  width: 100%;
  overflow: hidden;
}

.styleSelector {
  /* border: 1px solid rgba(0, 0, 0, .4); */
  display: inline-block;
  height: 200px;
  width: 100%;
}

.imageGallery {
  display: inline-block;
  width: 100%;
  height: 80%;
}


.addToCart {
  display: inline-block;
  /* border: 1px solid rgba(0, 0, 0, .4); */
  height: 28%;
  width: 100%;
}

#zoomView {
  display: none;
}

/*
///////////////////
PRODUCT INFO
///////////////////
*/

.productName {
  font-size: 30px;
  font-weight: bold;
}

.readAllReviews {
  font-size: 10px;
  color:rgba(0, 0, 0, .6)
}

.price {
  margin-bottom: 15px;
}

.descriptionBox {
  margin-top: 20px;
}

.description {
  margin-left: 50px;
}

/*
Star Ratings - Overview
*/

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: black;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #181817;
}

.starbox {
  margin-top: 25px;
}

/*
Style Item - Overview
*/

.styleItem {

  display: inline-block;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 35px;
  width: 70px;
  height: 70px;
  text-align: center;
  margin: 20px 0 0 20px;
  line-height: 50px;

}

.selectedStyle {

  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 35px;
  width: 70px;
  height: 70px;
  text-align: center;
  margin: 20px 0 0 20px;
  line-height: 50px;

}

.styleSelector {
  overflow: scroll;
}

.styleSelector::-webkit-scrollbar {
  display: none;
}

.scrollBox {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
}

.title {
  display: inline-block;
  position: absolute;
  left: 0px;
  font-size: 10px;
}

.checkmark {
  font-size: 13px;
  margin: 0 0 0 5px;
}

.checkBox {
  border: 1px solid rgba(0, 0, 0, .7);
  display: inline-block;
  position: absolute;
  top: 23px;
  left: 81px;
  border-radius: 15px;
  width: 20px;
  background-color: white;
}

.styleContainer {
  position: relative;
}

.styleIndicator {
  font-size: 15px;
}

/*
Image Gallery - Overview
*/


.imageGallery {
  text-align: center;
  height: 100%;
}


.thumbnailGallery {

  position: relative;
  top: -10px;
  right: 260px;
  width: 90px;
  height: 380px;
  overflow: auto;
  margin-top: 0px;
  margin-left: 0px;

}

.thumbnailGallery::-webkit-scrollbar {
  display: none;
}

.thumbnailItem {

  width: 60px;
  height: 60px;
  margin-top: 12px;
  border: 1px solid rgba(0, 0, 0, .3);
  font-size: 10px;
}

.thumbnailItem:hover {
  cursor: pointer;
}

.thumbnailScroll {

  display: flex;
  width: 90px;
  flex-wrap: wrap;
}

.mainImage {
  z-index: 0;
  margin-left: 0px;
  display: inline-block;
  text-align: center;
  height: 100%;
}

.mainImageFrame {
  display: flex;
  justify-content: center;
  z-index: 0;
  height: 100%;
  overflow: hidden;
  width: 55%;
  margin-left: 235px;
}

.mainImage:hover {
  cursor: zoom-in;
}

.mainFrame {
  position: relative;
  right: 35px;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#arrowBox {
  display: flex;
  justify-content: center;
  z-index: 0;
  height: 100%;
  overflow: hidden;
  width: 100%;
  margin-left: 0px;
}

.imageInsert {

  display: inline-block;
  position: absolute;
  width: 90px;

}

.down_angle {
  z-index: 2;
  position: relative;
  top: -10px;
  right: 280px;
  width: 15px;
  height: auto;
  visibility: visible;
  margin-left: 10px;
  margin-top: -25px;
}

.up_angle {
  z-index: 3;
  position: relative;
  top: -10px;
  right: 280px;
  width: 15px;
  height: auto;
  visibility: hidden;
  margin-left: 10px;
  margin-top: -25px;
}

.left_angle {
  z-index: 3;
  width: 15px;
  height: auto;
  position: relative;
  right: 200px;
  top: 305px;
  bottom: 90px;
  visibility: hidden;
}

.left_angle:hover {
  cursor: pointer;
}

.right_angle:hover {
  cursor: pointer;
}

.right_angle {
  z-index: 2;
  width: 15px;
  height: auto;
  position: relative;
  left: 255px;
  top: 305px;
  bottom: 90px;
  visibility: visible;
}



/*
Expanded View, Image Gallery - Overview
*/

.invisibleIndex {
  display: none;
}

.zoomedImageFrame {
  display: flex;
  justify-content: center;
  z-index: 0;
  height: 100%;
  overflow: hidden;
}

#zoomView {
  background-color: rgba(250, 250, 250, .9);
  z-index: 2;
  display: none;
  position: relative;
  height: 600px;
  width: 800px;
  left: 100px;
  bottom: 675px;
}

#zoomFrame {
  display: inline-block;
  margin: 50px auto;
  width: 55%;
  height: 90%;
  overflow: hidden;
}

#zoomFrame:hover {
  cursor: zoom-out;
}

#zoomedImage {
  position: relative;
  visibility: visible;
  top: 0;
  left: 0;
  margin: auto auto;
  height: 90%;
  transform: scale(1);
  cursor: zoom-in;
}

.scrollDot {
  display: inline-block;
  margin-top: -15px;
  margin-left: 15px;
  font-size: 30px;
}

#dotBar {
  position: absolute;
  bottom: 5px;
  left: 330px;

}

.scrollDot:hover {
  cursor: pointer;
}

#xOutZoom {
  z-index: 3;
  display: inline-block;
  position: absolute;
  left: 780px;
  bottom: 570px;
  font-family: arial;
  color:rgba(0, 0, 0, .5);
  font-size: 20px;
}

#xOutZoom:hover {
  cursor: pointer;
}

/*
///////////////////
ADD TO CART
///////////////////
*/

.addToCartRow1 {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
}

.addToCartRow2 {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
}

select {
  text-align-last: center;
}

.quantities {
  display: inline-block;
  height: 50px;
  flex-basis: 30%;
  flex-grow: 0;
  flex-shrink: 0;
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: 2px;
}

.sizes {
  height: 50px;
  display: inline-block;
  flex-basis: 60%;
  flex-grow: 0;
  flex-shrink: 0;
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: 2px;
}

.addToCartButton {
  display: inline-block;
  height: 50px;
  flex-basis: 75%;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: rgba(250, 250, 250, 1);
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: 2px;
}

.starButton {
  height: 50px;
  display: inline-block;
  flex-basis: 50px;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: rgba(250, 250, 250, 1);
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: 2px;
}


/*
/////////////////////
RELATED ITEMS
/////////////////////
*/

.card {
  width: 200px;
  height: 300px;
  background: rgb(214, 211, 211);
  border: 1px solid black;
  text-align: center;
}

.cardImage {
  max-width: 150px;
  max-height: 150px;
}

.carousel {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 80em;
}


.rightArrow {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid black;
}

.leftArrow {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid black;
}

.centerVertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.close {
  font-family: FontAwesome;
}

/*
-------------------------
comparison modal
-------------------------
*/

.comparisonModal {
  width: 800px;
  height: 500px;
  background: white;
  border: 1px solid grey;
  transition: 1s ease-out;
  box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;

}

.comparisonRow {
  font-size: 13px;
}

.comparisonTopRow {
  font-size: 17px;
  padding-bottom: 20px;
}

.oneStar {
  font-family: FontAwesome;
  background: rgb(146, 142, 142);
  border: none;
}



/*
/////////////////////
QUESTIONS AND ANSWERS
/////////////////////
*/

#search {
  height: 50px;
  width: 400px;
}

.questionItem {
  border: 1px solid rgba(0, 0, 0, .4);
}



/*
/////////////////////
RATINGS AND REVIEWS
/////////////////////
*/


/*
REVIEW LIST
*/


#reviewListContainer {
  float: right;
  width: 60%;
  margin-left: 9%;
  margin-right: 9%;
  margin-top: 4.5%;
  margin-bottom: 4.5%;
  padding: 10px;
}

#reviewList {
  max-height: 490px;
  overflow-y: auto;
}

.reviewListEntry {
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom: 1px solid grey;
}

.reviewEntryTop {
  display: inline-flex;
  flex-direction: row;
  /* justify-content: right; */
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  /* height: 5px; */
}

.reviewRating {
  display: inline-flex;
}

.reviewerName {
  display: inline-flex;
}

.reviewDate {
  display: inline-flex;
}

.reviewEntryBottom {
  display: inline-flexbox;
  align-items: baseline;
}

/* Middle */

.reviewSummary {
  font-size: large;
  font-weight: 600;
  color: rgb(48,48,48);
}

.reviewBody {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sellerResponse {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: lightgray;
  padding: 9px;
}

/* Helpfulness */

.reviewHelpfulness {
  display: inline-flex;
}

.helpfulText {
  margin-top: 10px;
  margin-bottom: 10px;
}

.helpfulYes {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  left: 5px;
}

.helpfulCount {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  left: 5px;
}

/* photos */

.reviewPhotos {
  position: relative;
  height: 70%;
  width: 100%;
}

.reviewImage {
  height: 100px;
  width: 70px;
}

.reviewPhotoModal {
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
}


/*
NEW REVIEW
*/

#reviewModal {
  background-color: lightgray;
  border: 1px solid black;
  display: none;
  height: 80%;
  width: 80%;
  overflow: auto;
}

#reviewForm {
  display: none;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
}

.reviewInputs {
  color: black;
}

/* Stars */
.reviewStarsOuter {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: black;
}

.reviewStarsOuter::before {
  content: "\f006";
}

.reviewStarsInner {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.reviewStarsInner::before {
  content: "\f005";
  color: #181817;
}

/* characteristics */

/* .characteristicRating {
  display: none;
} */

/* photos */
.newReviewThumbnail {
  max-height: 100px;
  max-width: 100px;
}


/*
RATING BREAKDOWN
*/



/* .ratingBreakdown {
  display: inline-flex;
  width: 300px;
} */

.ratingGraph {
  display: inline-flex;
  flex-direction: column;
  width: 280px;
}

.ratingContainer {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  align-content: center;
}

.innerBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 50%;
  background-color: green;
}

.outerBar {
  position: relative;
  align-self: flex-end;
  height: 5px;
  width: 150px;
  background-color: darkgray;
}

/*
PRODUCT BREAKDOWN
 */

.charBarOuter {
  position: relative;
  height: 10px;
  width: 300px;
  background-color: darkgray;
}

.charBarIndicator {
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  left: 0;
}

.charBarIndicator::before {
  color: black;
  content: '\f0d7';
}








/*
//////////////////////////////
Page responsiveness (presentation across screen sizes)
//////////////////////////////
*/


@media only screen and (max-width: 1177px) {
  .left_angle {
    right: 190px;
  }
}

@media only screen and (max-width: 1095px) {
  .left_angle {
    right: 180px;
  }
}

@media only screen and (max-width: 1005px) {
  .left_angle {
    right: 170px;
  }
}

@media only screen and (max-width: 985px) {
  .left_angle {
    right: 160px;
  }
}

@media only screen and (max-width: 965px) {
  .left_angle {
    right: 140px;
  }
}
