/*
/////////////////////
OVERVIEW
/////////////////////
*/


#overview {
  border: 1px solid rgba(0, 0, 0, .4);
  height: 750px;
}

.productInfo {
  /* position: relative;
  left: 800px;
  display: inline-block; */
  border: 1px solid rgba(0, 0, 0, .4);
  height: 150px;
  width: 400px;
}


.styleSelector {
  /* position: relative;
  top: -330px;
  left: 800px;
  display: inline-block; */
  border: 1px solid rgba(0, 0, 0, .4);
  height: 150px;
  width: 400px;
}

.imageGallery {
  /* position: relative;
  right: 400px;
  display: inline-block; */
  border: 1px solid rgba(0, 0, 0, .4);
  height: 200px;
  width: 400px;
}


.addToCart {
  /* position: relative;
  left: 400px;
  top: -160px;
  display: inline-block; */
  border: 1px solid rgba(0, 0, 0, .4);
  height: 150px;
  width: 400px;
}

#zoomView {
  display: none;
}


/*
Star Ratings - Overview
*/

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: black;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}

/*
Style Item - Overview
*/

.styleItem {

  display: inline-block;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 35px;
  width: 60px;
  height: 60px;
  text-align: center;
  margin: 10px 0 0 10px;
  line-height: 50px;

}

.selectedStyle {

  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 35px;
  width: 60px;
  height: 60px;
  text-align: center;
  margin: 10px 0 0 10px;
  line-height: 50px;

}

.styleSelector {
  overflow: scroll;
}

.styleSelector::-webkit-scrollbar {
  display: none;
}

.scrollBox {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
}

.title {
  display: inline-block;
  position: absolute;
  left: 20px;

}

.checkmark {
  display: inline-block;
  position: absolute;
  top: 50px;
  left: 50px;
}

.styleContainer {
  position: relative;
}

/*
Image Gallery - Overview
*/


.thumbnailGallery {
  width: 30px;
  height: 80px;
  overflow: auto;
  margin-top: 0px;
  margin-left: 10px;
}

.thumbnailGallery::-webkit-scrollbar {
  display: none;
}

.thumbnailItem {
  width: 15px;
  height: 15px;
  margin-top: 5px;
  border: 1px solid rgba(0, 0, 0, .3);
  font-size: 10px;
}

.thumbnailItem:hover {
  cursor: pointer;
}

.thumbnailScroll {
  display: flex;
  width: 31px;
  flex-wrap: wrap;
}

.mainImage {
  text-align: center;
}

.mainImage:hover {
  cursor: zoom-in;
}

.down_angle {
  width: 15px;
  height: auto;
  visibility: visible;
  margin-left: 10px;
  margin-top: -25px;
}

.up_angle {
  width: 15px;
  height: auto;
  visibility: hidden;
  margin-left: 10px;
  margin-top: -25px;
}

.left_angle {
  width: 15px;
  height: auto;
  position: relative;
  left: 100px;
  top: 25px;
  visibility: hidden;
}

.left_angle:hover {
  cursor: pointer;
}

.right_angle:hover {
  cursor: pointer;
}

.right_angle {
  width: 15px;
  height: auto;
  position: relative;
  left: 270px;
  top: 25px;
  visibility: visible;
}

/*
Expanded View, Image Gallery - Overview
*/

.invisibleIndex {
  display: none;
}

#zoomView {
  display: none;
  position: relative;
  left: 150px;
  bottom: 75px;
}

#zoomedImage {
  transform: scale(1);
  cursor: zoom-in;
}

.scrollDot {
  display: inline-block;
  margin-left: 10px;
}

.scrollDot:hover {
  cursor: pointer;
}

#xOutZoom {
  display: inline-block;
  position: relative;
  left: 100px;
  font-family: arial;
  color:rgba(0, 0, 0, .3);
}

#xOutZoom:hover {
  cursor: pointer;
}


/*
/////////////////////
RELATED ITEMS
/////////////////////
*/

.card {
  width: 100px;
  height: 150px;
  background: rgb(146, 142, 142);
  border: 1px solid black;
  text-align: center;
}

.carousel {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.rightArrow {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid green;
}

.leftArrow {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid green;
}
/*
/////////////////////
QUESTIONS AND ANSWERS
/////////////////////
*/

#search {
  height: 50px;
  width: 400px;
}

.questionItem {
  border: 1px solid rgba(0, 0, 0, .4);
}






/*
/////////////////////
RATINGS AND REVIEWS
/////////////////////
*/