@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
  font-display: swap;
}

body {
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  background-color: rgba(0, 0, 0, .05);
  min-width: 920px;
  max-width: 1200px;
}

/*
////////////////////
preload page structure
////////////////////
*/

#overviewPlaceholder {
  display: inline-block;
  height: 750px;
  width: 100%;
}

#relatedPlaceholder {
  display:inline-block;
  height: 750px;
  width: 100%;
}

#questionsPlaceholder {
  display:inline-block;
  height: 350px;
  width: 100%;
}

#ratingsPlaceholder {
  display:inline-block;
  height: 550px;
  width: 100%;
}

/*
////////////////////
topbar
////////////////////
*/

.topBar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 77px;
  width: 100%;
  background-color: rgba(0, 0, 0, .7);
}

.pageTitle {
  display: inline-block;
  font-weight: 600;
  font-size: 35px;
  color: rgba(250, 250, 250, .9);
  margin-top: 10px;
  margin-left: 20px;
}

.search {
  margin: 6px 10px 0 0;
  display: inline-block;
}

input, textarea {
  color:rgba(250, 250, 250, .9);
}

input, textarea:focus {
  outline: none;
}

.searchInput {
  background-color: rgba(0, 0, 0, .0);
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, .0);
}

.searchIcon {
  cursor: pointer;
  display: inline-block;
  height: 22px;
  width: auto;
  margin: 22px 15px 0 0;
  color:rgba(250, 250, 250, .9);
}

.searchFieldUnderline {
  height: 2px;
  width: 150px;
  background-color: rgba(250, 250, 250, .9);
}

/*
/////////////////////
SITE ANNOUNCEMENT
/////////////////////
*/

.siteAnnouncementBar {
  height: 44px;
  width: 100%;
  font-size: 12px;
  color:rgba(0, 0, 0, .6)
}

.announcement {
  display: inline-block;
  margin: 10px 0 0 100px;
}

/*
/////////////////////
OVERVIEW
/////////////////////
*/


#overview {
  display: inline-block;
  height: 750px;
  width: 100%;
}

.leftPanel {
  float: left;
  width: 66.6%;
  height: 80%;

}

.rightPanel {
  display: inline-block;
  height: 100%;
  width: 33.3%;
}

.productInfo {
  display: inline-block;
  /* border: 1px solid rgba(0, 0, 0, .4); */
  height: 27%;
  width: 100%;
  overflow: hidden;
}

.styleSelector {
  /* border: 1px solid rgba(0, 0, 0, .4); */
  display: inline-block;
  height: 200px;
  width: 100%;
}

.imageGallery {
  display: inline-block;
  width: 100%;
  height: 80%;
}


.addToCart {
  display: inline-block;
  /* border: 1px solid rgba(0, 0, 0, .4); */
  height: 28%;
  width: 100%;
}

#zoomView {
  display: none;
}

/*
///////////////////
PRODUCT INFO
///////////////////
*/

.productName {
  font-size: 30px;
  font-weight: bold;
}

.readAllReviews {
  font-size: 10px;
  color:rgba(0, 0, 0, .6)
}

.price {
  margin-bottom: 15px;
}

.descriptionBox {
  margin-top: 20px;
}

.description {
  margin-left: 50px;
}

/*
Star Ratings - Overview
*/

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: black;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #181817;
}

.starbox {
  margin-top: 25px;
}

/*
Style Item - Overview
*/

.styleItem {

  display: inline-block;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 35px;
  width: 70px;
  height: 70px;
  text-align: center;
  margin: 20px 0 0 20px;
  line-height: 50px;
  object-fit: cover;

}

.selectedStyle {

  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 35px;
  width: 70px;
  height: 70px;
  text-align: center;
  margin: 20px 0 0 20px;
  line-height: 50px;
  object-fit: cover;

}

.styleSelector {
  overflow: scroll;
}

.styleSelector::-webkit-scrollbar {
  display: none;
}

.scrollBox {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
}

.title {
  display: inline-block;
  position: absolute;
  left: 0px;
  font-size: 10px;
}

.checkmark {
  font-size: 13px;
  margin: 0 0 0 5px;
}

.checkBox {
  border: 1px solid rgba(0, 0, 0, .7);
  display: inline-block;
  position: absolute;
  top: 23px;
  left: 81px;
  border-radius: 15px;
  width: 20px;
  background-color: white;
}

.styleContainer {
  position: relative;
}

.styleIndicator {
  font-size: 15px;
}

/*
Image Gallery - Overview
*/


.imageGallery {
  text-align: center;
  height: 100%;
}


.thumbnailGallery {

  position: relative;
  top: -10px;
  right: 260px;
  width: 90px;
  height: 380px;
  overflow: auto;
  margin-top: 0px;
  margin-left: 0px;

}

.thumbnailGallery::-webkit-scrollbar {
  display: none;
}

.thumbnailItem {

  width: 60px;
  height: 60px;
  margin-top: 12px;
  border: 1px solid rgba(0, 0, 0, .3);
  font-size: 10px;
  object-fit: cover;
}

.thumbnailItem:hover {
  cursor: pointer;
}

.thumbnailScroll {

  display: flex;
  width: 90px;
  flex-wrap: wrap;
}

.mainImage {
  z-index: 0;
  margin-left: 0px;
  display: inline-block;
  text-align: center;
  height: 100%;
}

.mainImageFrame {
  display: flex;
  justify-content: center;
  z-index: 0;
  height: 100%;
  overflow: hidden;
  width: 55%;
  margin-left: 235px;
}

.mainImage:hover {
  cursor: zoom-in;
}

.mainFrame {
  position: relative;
  right: 35px;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#arrowBox {
  display: flex;
  justify-content: center;
  z-index: 0;
  height: 100%;
  overflow: hidden;
  width: 100%;
  margin-left: 0px;
}

.imageInsert {

  display: inline-block;
  position: absolute;
  width: 90px;

}

.down_angle {
  z-index: 2;
  position: relative;
  top: -10px;
  right: 280px;
  width: 15px;
  height: auto;
  visibility: visible;
  margin-left: 10px;
  margin-top: -25px;
}

.up_angle {
  z-index: 3;
  position: relative;
  top: -10px;
  right: 280px;
  width: 15px;
  height: auto;
  visibility: hidden;
  margin-left: 10px;
  margin-top: -25px;
}

.left_angle {
  z-index: 3;
  width: 15px;
  height: auto;
  position: relative;
  right: 200px;
  top: 305px;
  bottom: 90px;
  visibility: hidden;
}

.left_angle:hover {
  cursor: pointer;
}

.right_angle:hover {
  cursor: pointer;
}

.right_angle {
  z-index: 2;
  width: 15px;
  height: auto;
  position: relative;
  left: 255px;
  top: 305px;
  bottom: 90px;
  visibility: visible;
}



/*
Expanded View, Image Gallery - Overview
*/

.invisibleIndex {
  display: none;
}

.zoomedImageFrame {
  display: flex;
  justify-content: center;
  z-index: 0;
  height: 100%;
  overflow: hidden;
}

#zoomView {
  background-color: rgba(250, 250, 250, .9);
  z-index: 2;
  display: none;
  position: relative;
  height: 600px;
  width: 800px;
  left: 100px;
  bottom: 675px;
}

#zoomFrame {
  display: inline-block;
  margin: 50px auto;
  width: 55%;
  height: 90%;
  overflow: hidden;
}

#zoomFrame:hover {
  cursor: zoom-out;
}

#zoomedImage {
  position: relative;
  visibility: visible;
  top: 0;
  left: 0;
  margin: auto auto;
  height: 90%;
  transform: scale(1);
  cursor: zoom-in;
}

.scrollDot {
  display: inline-block;
  margin-top: -15px;
  margin-left: 15px;
  font-size: 30px;
}

#dotBar {
  position: absolute;
  bottom: 5px;
  left: 330px;

}

.scrollDot:hover {
  cursor: pointer;
}

#xOutZoom {
  z-index: 3;
  display: inline-block;
  position: absolute;
  left: 780px;
  bottom: 570px;
  font-family: arial;
  color:rgba(0, 0, 0, .5);
  font-size: 20px;
}

#xOutZoom:hover {
  cursor: pointer;
}

/*
///////////////////
ADD TO CART
///////////////////
*/

.addToCart {
  margin-top: 40px;
}

.addToCartRow1 {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
}

.addToCartRow2 {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
}

select {
  text-align-last: center;
}

.quantities {
  display: inline-block;
  height: 50px;
  flex-basis: 30%;
  flex-grow: 0;
  flex-shrink: 0;
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: 2px;
}

.sizes {
  height: 50px;
  display: inline-block;
  flex-basis: 60%;
  flex-grow: 0;
  flex-shrink: 0;
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: 2px;
}

.addToCartButton {
  display: inline-block;
  height: 50px;
  flex-basis: 75%;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: rgba(250, 250, 250, 1);
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: 2px;
}

.starButton {
  height: 50px;
  display: inline-block;
  flex-basis: 50px;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: rgba(250, 250, 250, 1);
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: 2px;
}


/*
/////////////////////
RELATED ITEMS
/////////////////////
*/


/*----------------
product card
----------------*/


.card {
  border: 1px solid rgb(182, 175, 175);
  width: 175px;
  height: 300px;
  background: rgb(214, 211, 211);
  text-align: center;
  position: relative;
  cursor: pointer;
}

.cardImage {
  /*max-width: 175px;*/
  width: 100%;
  max-height: 210px;
}

.noPhoto {
  min-width: 150px;
  min-height: 150px;
  background-color: grey;

}

.RIproductInfo {
  position: absolute;
  bottom: 10px;
  text-align: left;
  font-size: .9em;
  font-weight: bold;
}

.RIcategory {
  position: relative;
  text-align: left;
  font-size: .8em;
}

.RIname {
  position: relative;
  text-align: left;
  font-size: .9em;
  font-weight: bold;
}

.RIprice {
  position: relative;
  text-align: left;
  font-size: .8em;
}

.RIstars {
  position: relative;
  text-align: left;
  font-size: .9em;
  font-weight: bold;
}

.RIcompare {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
/*----------------

----------------*/
/*----------------

----------------*/




.carousel {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 20px;
  width: 80em;
}

.arrows {
  border: 1px solid grey;
  border-radius: 10px;
}

.rightArrow {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid black;
}

.leftArrow {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid black;
}

.centerVertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* .RIarrow {
  display: inline-block;
  text-align: left;
} */

.close {
  font-family: FontAwesome;
}

.wrapper:hover {
  border: 5px solid #00aced;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

/*
-------------------------
comparison modal
-------------------------
*/

.comparisonModal {
  width: 800px;
  height: 500px;
  background: white;
  border: 1px solid grey;
  transition: 1s ease-out;
  box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
  filter: blur(0);
  opacity: 1;
  visibility: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.comparisonRow {
  font-size: 13px;
}

.comparisonTopRow {
  font-size: 17px;
  position: relative;
  top: 4%;

}

.comparingHeader {
  position: fixed;
  top: 1%;
  left: 1%;
  font-size: 15px;
}

.rowCharacteristic {
  border: 1px solid rgb(106, 102, 102);
}




/*
/////////////////////
QUESTIONS AND ANSWERS
/////////////////////
*/

#search {
  height: 50px;
  width: 400px;
}

.questionItem {
  border: 1px solid rgba(0, 0, 0, .4);
}



/*
/////////////////////
RATINGS AND REVIEWS
/////////////////////
*/


/*
GRID
*/

#reviewsSection {
  display: grid;
  grid-template-columns: 350px auto;
  grid-template-rows: 50px 90px 175px 350px auto;
  grid-template-areas:
    "header ."
    "ratingBreakdown sort"
    "ratingBreakdown reviews"
    "productBreakdown reviews"
    ". newReview";
}

#reviewsHeader {
  grid-area: header;
}

#sortReviews {
  grid-area: sort;
}

#ratingBreakdown {
  grid-area: ratingBreakdown;
}

.productBreakdown {
  grid-area: productBreakdown;
}

#reviewListContainer {
  grid-area: reviews;
}

/*
SORT
*/

#sortReviews {
  position: relative;
  margin-left: 9%;
  padding-left: 10px;
  /* padding: 10px; */
  height: 100px;
  max-width: 180px;
  max-height: 100px;
}

.sortOption {
  background-color: lightgray;
  max-width: 100px;
}

.sortOption:hover,
.sortOption:focus-within {
  background: red;
  cursor: pointer;
}

#sortCaret {
  font-family: FontAwesome;
}

#sortCaret::before {
  content: '\f078';
}

#sortBar {
  display: inline-flex;
  flex-direction: row;
  margin-top: 72px;
  gap: 6px;
}

#sortDropdown {
  z-index: 1;
  position: absolute;
  left: 100px;
  overflow: auto;
}

/*
REVIEW LIST
*/


#reviewListContainer {
  z-index: 0;
  position: relative;
  float: right;
  width: 723px;
  max-width: 723px;
  margin-left: 9%;
  margin-bottom: 50px;
  padding: 10px;
}

#reviewList {
  max-height: 490px;
  overflow-y: auto;
}

.reviewListEntry {
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom: 1px solid grey;
}

.reviewEntryTop {
  display: inline-flex;
  flex-direction: row;
  align-content: baseline;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  /* height: 5px; */
}

.reviewRating {
  display: inline-flex;
}

.reviewerName {
  display: inline-flex;
}

.reviewDate {
  display: inline-flex;
}

.reviewEntryBottom {
  display: inline-flexbox;
  align-items: baseline;
}

/* Middle */

.reviewSummary {
  font-size: large;
  font-weight: 600;
  color: rgb(48,48,48);
}

.reviewBody {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sellerResponse {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: lightgray;
  padding: 9px;
}

/* Helpfulness */

.reviewHelpfulness {
  display: inline-flex;
}

.helpfulText {
  margin-top: 10px;
  margin-bottom: 10px;
}

.helpfulYes {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  left: 5px;
  text-decoration: underline;
}

.helpfulYes:hover {
  cursor: pointer;
  color: red;
}

.helpfulCount {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  left: 5px;
}

/* photos */

.reviewPhotos {
  position: relative;
  z-index: 2;
  height: 70%;
  width: 100%;
}

.reviewImage {
  z-index: inherit;
  height: 100px;
  width: 100px;
  margin-right: 10px;
}

.reviewPhotoWindow {
  z-index: 4;
  background-color: rgba(250, 250, 250, .9);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 400px;
  width: 400px;
  max-height: 400px;
  max-width: 400px;
  top: -150px;
  left: 150px;
}

.reviewModalImg {
  margin: auto;
  display: block;
  z-index: 4;
}


/*
NEW REVIEW
*/

#reviewModal {
  z-index: 8;
  position: absolute;
  background-color: lightgray;
  border: 1px solid black;
  display: none;
  height: 80%;
  width: 80%;
  top: 0;
  left: 75px;
  overflow: auto;
}

#reviewForm {
  display: none;
  margin-left: 60px;
  margin-bottom: 10px;
  width: 80%;
}

.reviewInputs {
  color: black;
}

/* Stars */
.reviewStarsOuter {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: black;
}

.reviewStarsOuter::before {
  content: "\f006";
}

.reviewStarsInner {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.reviewStarsInner::before {
  content: "\f005";
  color: #181817;
}

#newReviewSummary, #newReviewBody {
  width: 470px;
  height: 80px;
  max-width: 470px;
  max-height: 160px;
}

#reviewClose {
  margin-left: 10px;
  width: 10px;
  font-size: 18px;
}

#reviewClose:hover {
  cursor: pointer;
  color: red;
}
/* characteristics */

/* .characteristicRating {
  display: none;
} */

/* photos */
.newReviewThumbnail {
  max-height: 100px;
  max-width: 100px;
}


/*
RATING BREAKDOWN
*/



#ratingBreakdown {
  display: inline-flex;
  flex-direction: column;
  width: auto;
}

.ratingGraph {
  display: inline-flex;
  flex-direction: column;
  width: auto;
}

.ratingContainer {
  /* position: relative; */
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  align-content: center;
}

.innerBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 0;
  background-color: green;
}

.outerBar {
  position: relative;
  align-self: flex-end;
  height: 10px;
  width: 286px;
  background-color: darkgray;
  margin-bottom: 7px;
}

#percentRecommended {
  font-size: 16px;
}

.breakdownLabel {
  text-decoration: underline;
  width: 54px;
}

.breakdownLabel:hover {
  color: red;
  cursor: pointer;
}

#ratingNumStarContainer {
  display: inline-flex;
  gap: 10px;
}

#ratingNumber {
  font-size: 48px;
  font-weight: 1000;
}

#ratingBreakdownStars {
  margin-top: 12px;
}

/*
PRODUCT BREAKDOWN
 */

.charBarOuter {
  position: relative;
  height: 10px;
  width: 350px;
  background-color: darkgray;
}

.charBarInner {
  position: absolute;
  top: 0;
  width: 350px;
  height: 10px;
  display: inline-flex;
  flex-flow: row;
  justify-content: space-evenly;
}

.charBarGap {
  background-color: rgb(232, 232, 232);
  height: 10px;
  width: 4px;
}

.charBarIndicator {
  font-family: FontAwesome;
  font-size: 36px;
  position: absolute;
  top: -13px;
  left: 0;
}

.charBarIndicator::before {
  color: black;
  content: '\f0d7';
}

.charBarDescContainer {
  width: 350px;
  display: inline-flex;
  flex-wrap: nowrap;
  flex-flow: row;
  justify-content: space-between;
}

.charBarDesc1, .charBarDesc2 {
  font-size: 14px;
}








/*
//////////////////////////////
Page responsiveness (presentation across screen sizes)
//////////////////////////////
*/


@media only screen and (max-width: 1177px) {
  .left_angle {
    right: 190px;
  }
}

@media only screen and (max-width: 1095px) {
  .left_angle {
    right: 180px;
  }
}

@media only screen and (max-width: 1005px) {
  .left_angle {
    right: 170px;
  }
}

@media only screen and (max-width: 985px) {
  .left_angle {
    right: 160px;
  }
}

@media only screen and (max-width: 965px) {
  .left_angle {
    right: 140px;
  }
}
