

body {
  font-family: 'Poppins', sans-serif;
  background-color: rgba(0, 0, 0, .05);
}

/*
////////////////////
topbar
////////////////////
*/

.topBar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 77px;
  width: 100%;
  background-color: rgba(0, 0, 0, .7);
}

.pageTitle {
  display: inline-block;
  font-weight: 600;
  font-size: 35px;
  color: rgba(250, 250, 250, .9);
  margin-top: 10px;
  margin-left: 20px;
}

.search {
  margin: 6px 10px 0 0;
  display: inline-block;
}

input, textarea {
  color:rgba(250, 250, 250, .9);
}

.searchInput {
  background-color: rgba(0, 0, 0, .0);
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, .0);
}

.searchIcon {
  display: inline-block;
  height: 22px;
  width: auto;
  margin: 22px 15px 0 0;
  color:rgba(250, 250, 250, .9);
}

.searchFieldUnderline {
  height: 2px;
  width: 150px;
  background-color: rgba(250, 250, 250, .9);
}

/*
/////////////////////
SITE ANNOUNCEMENT
/////////////////////
*/

.siteAnnouncementBar {
  height: 44px;
  width: 100%;
  font-size: 12px;
  color:rgba(0, 0, 0, .6)
}

.announcement {
  display: inline-block;
  margin: 10px 0 0 100px;
}

/*
/////////////////////
OVERVIEW
/////////////////////
*/


#overview {
  /* border: 1px solid rgba(0, 0, 0, .4); */
  height: 750px;
}

.leftPanel {
  float: left;
  width: 66.6%;
  height: 80%;

}

.rightPanel {
  display: inline-block;
  height: 100%;
  width: 33.3%;
}

.productInfo {
  display: inline-block;
  /* border: 1px solid rgba(0, 0, 0, .4); */
  height: 27%;
  width: 100%;
  overflow: hidden;
}

.styleSelector {
  /* border: 1px solid rgba(0, 0, 0, .4); */
  display: inline-block;
  height: 200px;
  width: 100%;
}

.imageGallery {
  display: inline-block;
  width: 100%;
  height: 80%;
}


.addToCart {
  display: inline-block;
  /* border: 1px solid rgba(0, 0, 0, .4); */
  height: 28%;
  width: 100%;
}

#zoomView {
  display: none;
}

/*
///////////////////
PRODUCT INFO
///////////////////
*/

.productName {
  font-size: 30px;
  font-weight: bold;
}

.readAllReviews {
  font-size: 10px;
  color:rgba(0, 0, 0, .6)
}

.price {
  margin-bottom: 15px;
}

.descriptionBox {
  margin-top: 80px;
}

.description {
  margin-left: 50px;
}

/*
Star Ratings - Overview
*/

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: black;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #181817;
}

.starbox {
  margin-top: 25px;
}

/*
Style Item - Overview
*/

.styleItem {

  display: inline-block;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 35px;
  width: 70px;
  height: 70px;
  text-align: center;
  margin: 20px 0 0 20px;
  line-height: 50px;

}

.selectedStyle {

  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 35px;
  width: 70px;
  height: 70px;
  text-align: center;
  margin: 20px 0 0 20px;
  line-height: 50px;

}

.styleSelector {
  overflow: scroll;
}

.styleSelector::-webkit-scrollbar {
  display: none;
}

.scrollBox {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
}

.title {
  display: inline-block;
  position: absolute;
  left: 0px;
  font-size: 10px;
}

.checkmark {
  font-size: 13px;
  margin: 0 0 0 5px;
}

.checkBox {
  border: 1px solid rgba(0, 0, 0, .7);
  display: inline-block;
  position: absolute;
  top: 23px;
  left: 81px;
  border-radius: 15px;
  width: 20px;
}

.styleContainer {
  position: relative;
}

.styleIndicator {
  font-size: 15px;
}

/*
Image Gallery - Overview
*/

.imageGallery {
  text-align: center;
}


.thumbnailGallery {
  z-index: 2;
  position: relative;
  top: 20px;
  right: 200px;
  width: 30px;
  height: 80px;
  overflow: auto;
  margin-top: 0px;
  margin-left: 10px;
}

.thumbnailGallery::-webkit-scrollbar {
  display: none;
}

.thumbnailItem {
  width: 25px;
  height: 25px;
  margin-top: 5px;
  border: 1px solid rgba(0, 0, 0, .3);
  font-size: 10px;
}

.thumbnailItem:hover {
  cursor: pointer;
}

.thumbnailScroll {
  display: flex;
  width: 31px;
  flex-wrap: wrap;
}

.mainImage {
  display: inline-block;
  text-align: center;
  height: 100%;
}

.mainImageFrame {
  height: 100%;
}

.mainImage:hover {
  cursor: zoom-in;
}

.mainFrame {
  position: relative;
  right: 35px;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.imageInsert {
  z-index: 3;
  display: inline-block;
  position: absolute;

}

.down_angle {
  z-index: 2;
  position: relative;
  top: 25px;
  right: 200px;
  width: 15px;
  height: auto;
  visibility: visible;
  margin-left: 10px;
  margin-top: -25px;
}

.up_angle {
  z-index: 3;
  position: relative;
  top: 21px;
  right: 200px;
  width: 15px;
  height: auto;
  visibility: hidden;
  margin-left: 10px;
  margin-top: -25px;
}

.left_angle {
  z-index: 2;
  width: 15px;
  height: auto;
  position: relative;
  right: 130px;
  top: 170px;
  bottom: 90px;
  visibility: hidden;
}

.left_angle:hover {
  cursor: pointer;
}

.right_angle:hover {
  cursor: pointer;
}

.right_angle {
  z-index: 2;
  width: 15px;
  height: auto;
  position: relative;
  left: 100px;
  top: 170px;
  bottom: 90px;
  visibility: visible;
}

/*
Expanded View, Image Gallery - Overview
*/

.invisibleIndex {
  display: none;
}

#zoomView {
  z-index: 2;
  display: none;
  position: relative;
  left: 150px;
  bottom: 75px;
}

#zoomedImage {
  transform: scale(1);
  cursor: zoom-in;
}

.scrollDot {
  display: inline-block;
  margin-left: 10px;
}

.scrollDot:hover {
  cursor: pointer;
}

#xOutZoom {
  z-index: 2;
  display: inline-block;
  position: relative;
  left: 200px;
  bottom: 300px;
  font-family: arial;
  color:rgba(0, 0, 0, .5);
}

#xOutZoom:hover {
  cursor: pointer;
}

/*
///////////////////
ADD TO CART
///////////////////
*/

.addToCartRow1 {
  display: flex;
  justify-content: space-between;
}

.addToCartRow2 {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

select {
  text-align-last: center;
}

.quantities {
  display: inline-block;
  height: 50px;
  flex-basis: 30%;
  flex-grow: 0;
  flex-shrink: 0;
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: 2px;
}

.sizes {
  height: 50px;
  display: inline-block;
  flex-basis: 60%;
  flex-grow: 0;
  flex-shrink: 0;
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: 2px;
}

.addToCartButton {
  display: inline-block;
  height: 50px;
  flex-basis: 75%;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: rgba(250, 250, 250, 1);
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: 2px;
}

.starButton {
  height: 50px;
  display: inline-block;
  flex-basis: 50px;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: rgba(250, 250, 250, 1);
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: 2px;
}


/*
/////////////////////
RELATED ITEMS
/////////////////////
*/

.card {
  width: 200px;
  height: 300px;
  background: rgb(146, 142, 142);
  border: 1px solid black;
  text-align: center;
}

.cardImage {
  max-width: 150px;
  max-height: 150px;
}

.carousel {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}


.rightArrow {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid black;
}

.leftArrow {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid black;
}

.centerVertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.comparisonModal {
  width: 500px;
  background: white;
  border: 1px solid grey;
  transition: 1s ease-out;
  box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}


/*
/////////////////////
QUESTIONS AND ANSWERS
/////////////////////
*/

#search {
  height: 50px;
  width: 400px;
}

.questionItem {
  border: 1px solid rgba(0, 0, 0, .4);
}






/*
/////////////////////
RATINGS AND REVIEWS
/////////////////////
*/